body {
  background-color: #e9e3e3;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #646464;
}

.user-action {
  background-color: white;
  min-height: 20px;
  width: 75%;
  margin: 3% auto;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #00000033;
}

#populate-btn {
  font-size: 24px;
}


#populate-btn:hover{
  border: 2px solid #888;
  background-color: #ddd;
  font-size: 22px;
}

#fetch-btn,
#filter-btn {
  margin-right: 15%;
}

#log-btn,
#user-id-input {
  margin-left: 15%;
}

#user-id-input {
  width: 13.812%;
  font-size: 23px;
  border-style: solid;
  border-radius: 5px;
}

#completed-todos-btn, #not-completed-todos-btn {
  width: fit-content;
  margin: 0 1px 1px 1px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #b50965;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  /* box-shadow: 10px 10px 20px #00000033; */
  width: 15%;
  margin-bottom: 10px;
}

ol {
  background-color: white;
  min-height: 20px;
  max-width: 75%;
  margin: 3% auto;
  text-align: left;
  padding-top: 5%;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #00000033;

}

li {
  padding-left: 10px;
}


@media (max-width: 880px) {
  button {
    width: fit-content;
  }
}

@media (max-width: 500px) {
  .user-action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #fetch-btn,
  #filter-btn {
    margin-right: 0%;
  }

  #log-btn,
  #user-id-input {
    margin-left: 0%;
  }

  #completed-todos-btn {
    margin-bottom: 5px;
  }

}